.general_information {
    margin-top: 40px;
}

.input_fields {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.input {
    width: 100%;
    outline: none;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}

.input::placeholder {
    color: #c4c4c4;
    /* base/body 2 */
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    letter-spacing: 0.1px;
}

.input_area {
    margin-top: 10px;
}

.address_info {
    margin-top: 20px;
}

.contact_info {
    margin-top: 20px;
}

.btn_container{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.btn_container > .update_btn{
    width:100%;
    height: 40px;
    min-width: 100px;
    max-width: 150px;
    border: none;
    border-radius: 8px;
    background-color: #4340DA;
    color: #FFFFFF;
}

.btn_container > .cancel_btn{
    width:100%;
    height: 40px;
    min-width: 100px;
    max-width: 150px;   
    background-color: #F6F6F6;
    border: none;
    border-radius: 8px;
    color: #4340DA;
}

.btn_container > .update_btn:hover {
    cursor: pointer;
    background-color: #302DB2;
}

.btn_container > .update_btn:active{
    border: 1px solid cyan;
}

.btn_container > .cancel_btn:hover{
    background-color: #E1DDDD;
    color: #302DB2;
    cursor: pointer;
}

.btn_container > .cancel_btn:active{
    border: 1px solid cyan;
}

.accordion {
    width: 750px;
    margin: 2rem auto;
  }
  
  .accordion_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    cursor: pointer;
    background-color: #eee;
    width: 750px;
  }
  
 .accordion_title:hover {
    background-color: #ccc;
  }


.accordion_title{
  padding: 1rem;
}

.accordion_content {
    padding-bottom: 10px;
}