table {
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  td{
    vertical-align: middle;
  }
  
  tbody tr {
    padding: 8px 9px;
    height: 40px;
  }
  
  tbody tr:hover {
    background-color: #F0F0F5;
  }
  
  th:not(:last-child) {
    min-width: 120px;
    color: #7D7D7D;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #EBEFF2;
  }
  
  tfoot {
    background-color: #4a524a;
    color: white;
  }
  
  th:first-child
  {
    min-width: 20px;
  }
  
  th:nth-child(3){
    min-width: 50px;
  }
  
  td:not(:first-child) {
    color: #7D7D7D;
    font-weight: 400;
    font-size: 13px;
  }
  
  td:last-child:hover{
    cursor: pointer;
  }
  
  td:nth-child(2){
    color: #323C47;
    font-weight: 500;
    font-size: 15px;
    height: 43px;
  }
  
  input.checksingle {
      border: 1px solid #0832DE;
      border-radius: 8px;
  }
  
  .triple-dots {
    position: relative;
    display: inline-block;
  }
  
  .triple-dots .buttons-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: none; /* Initially hide the buttons */
  }
  
  .buttons-container > span {
    opacity: 0.05; /* Initial transparency */
    transition: opacity 0.3s ease; /* Smooth transition */
    position: relative; /* Ensure the buttons have a stacking context */
    z-index: 2; /* Ensure the buttons appear above the triple dots */
  }

  .buttons-container img
  {
    width: 20px;
    height: 20px;
  }
  

  .triple-dots {
    position: relative;
  }
  
  .buttons-container {
    position: absolute;
    opacity: 1;
    z-index: 9999;
    top: 100%; /* Position the buttons below the triple dots */
    left: 10%; /* Align the buttons with the triple dots */
    display: none; /* Initially hide the buttons */
  }
  
  .buttons-container > span {
    opacity: 1;
  }

  .triple-dots:hover .buttons-container {
    display: flex; /* Show the buttons when triple dots are hovered over */
  }

