.not_authorized_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    min-width: 100vw;
    min-height: 100vh;
    color: #0832DE;
}

.denied {
    font-size: xx-large;
}

.link {
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
}

.link:active{
    text-decoration: none;
}

.link:focus{
    color: #0832DE;
}

.hor_line {
    width: 50%;
    border-color: #0832DE;
}