.subjects_page {
    display: flex;
    flex-direction: row;
    row-gap: 25px;
    width: 100%;
    height: 100%;
}

.subjects_page > .subject_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.subject_count {
    width: 110px;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 0.15px;
}

.subject_count > span {
    font-weight: 500;
    font-size: 15px;
    color: #C4C4C4;
    letter-spacing: 0.15px;
}


.search_panel {
    margin-top: 20px;
    margin-left: 50px;
    width: 580px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.search_panel > .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    column-gap: 10px;
    height: 40px;

}

.search_icon {
    width: 20px;
    height: 20px;
}

.input {
    width: 80%;
    outline: none;
    border: none;
    font-size: 15px;
}

.dropdown_list{
    margin-left: 10px;
}

/* Style the container if desired */
select {
    background-color: #F6F6F6;
    width: 90px; /* Adjust as needed */
    padding: 7px 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    /* Hide the default arrow */

  }
  
  /* Adding a custom arrow */
  select::after {
    content: url('../../icons/vector.svg'); /* Unicode character for a down arrow */
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Make the arrow unclickable */
    color: #0832DE;
  }

  select:hover {
    cursor: pointer;
  }

  .add_subject_btn {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 190px;
    padding-left: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #4340DA;
    color: #FFFFFF;
    column-gap: 10px;
    transition: transform 0.1s ease-in-out;
  }

  .add_subject_btn:hover
  {
    cursor: pointer;
  }

  .add_subject_btn:active
  {
    transform: scale(0.95);
  }

  .add_subject_btn .user_icon {
    width: 16px;
    height: 16px;
  }

  .triple_dots {
    margin-top: 20px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .triple_dots:hover{
    cursor: pointer;
  }

  .triple_dots_icon {
    width: 25px;
    height: 25px;
  }