body {
  font-family: "Nunito Sans", sans-serif;
}

.login-form {
  width: 900px;
  margin: 50px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
}

.login-form h1 {
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 30px;
  font-family: "Nunito Sans", sans-serif;
}

.input {
  display: flex;
  flex-direction: column;
}

.login-form label {
  display: flex;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #333;
  font-size: 14px;
}

.login-form input[type="username"],
.login-form input[type="password"] {
  width: 300px;
  font-family: "Nunito Sans", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

/* Placeholder color */
.login-form input::placeholder {
  color: #888;
}

/* Focus styles */
.login-form input:focus {
  outline: none;
  border-color: #5c6bc0;
}

.login-form .remember-me {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  flex-direction: row;
  justify-content: flex-start;
}

.login-form .rm-fp {
  display: flex;
  justify-content: space-between;
}
.login-form .remember-me input[type="checkbox"] {
  margin-right: 5px;
}

.forgot-password {
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-form button {
  align-self: center;
  font-family: "Nunito Sans", sans-serif;
  width: 150px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #e1e1e1;
}

.sign-up-link {
  text-align: center;
  margin-top: 20px;
}

.sign-up-link a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.sign-up-link a:hover {
  text-decoration: underline;
}

.password-error {
  color: red;
  font-size: 0.8em;
}
