.modalContainer {
    width: 600px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
  }


.content {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.add_inst_rep_hg {
    margin-top: 30px;
    margin-bottom: 16px;
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    font-size: 48px;
}

.add_inst_rep_hg span{
    margin: 0;
    top: 20%;
}

.input {
    width: 100%;
    outline: none;
    border-radius: 8px;
    border: 1px solid #f6f6f6;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    background-color: #f6f6f6;
}

.input::placeholder {
    color: #c4c4c4;
    /* base/body 2 */
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    letter-spacing: 0.1px;
  }

.input_area{
    display: flex;
    flex-direction: column;
}

.input_area_in_edit{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
    width: auto;
    height: 200px;

}

.input_area > label {
    text-align: left;
}

.group_usr_email{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    text-align: left;
}

.input_area {
    text-align: left;
}

.area {
    margin-top: 15px;
}

.btn_container{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.btn_container > .add_btn{
    width:100%;
    height: 40px;
    min-width: 100px;
    max-width: 180px;
    border: none;
    border-radius: 8px;
    background-color: #4340DA;
    color: #FFFFFF;
}

.btn_container > .cancel_btn{
    width:100%;
    height: 40px;
    min-width: 100px;
    max-width: 180px;   
    background-color: #F6F6F6;
    border: none;
    border-radius: 8px;
    color: #4340DA;
}

.btn_container > .add_btn:hover {
    cursor: pointer;
    background-color: #302DB2;
}

.btn_container > .add_btn:active{
    border: 1px solid cyan;
}

.btn_container > .cancel_btn:hover{
    background-color: #E1DDDD;
    color: #302DB2;
    cursor: pointer;
}

.btn_container > .cancel_btn:active{
    border: 1px solid cyan;
}