@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* MODAL CONTAINER */

/* Modal Button */
.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 12px 24px;
}


/* Modal */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }

  .heading {
    margin: 1rem;
  }
}

.input {
  width:100%;
  height: 40px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 400;
}

label {
  width: 100%;
  text-align: left;
}

.input:hover{
  border: 1px solid #0090FF;
}

.input:active{
  border: 1px solid #1050F2;
}

.input:focus{
  border: 1px solid #1050F2;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

td{
  vertical-align: middle;
}

tbody tr {
  padding: 8px 9px;
  height: 40px;
}

tbody tr:hover {
  background-color: #F0F0F5;
}

th:not(:last-child) {
  min-width: 120px;
  color: #7D7D7D;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #EBEFF2;
}

tfoot {
  background-color: #4a524a;
  color: white;
}

th:first-child
{
  min-width: 20px;
}

th:nth-child(3){
  min-width: 50px;
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

td:not(:first-child) {
  color: #7D7D7D;
  font-weight: 400;
  font-size: 13px;
}

td:last-child:hover{
  cursor: pointer;
}

td:nth-child(2){
  color: #323C47;
  font-weight: 500;
  font-size: 15px;
}

input.checksingle {
    border: 1px solid #0832DE;
    border-radius: 8px;
}
    
.triple-dots {
  position: relative;
  display: inline-block;
}

.triple-dots .buttons-container {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: none; /* Initially hide the buttons */
}

.buttons-container img
{
  width: 20px;
  height: 20px;
}

.triple-dots:hover .buttons-container {
  display: flex;
  justify-content: flex-start;
  column-gap: 3px; /* Show the buttons when triple dots are hovered */
}